/* .lec_home_card-container01{
    width: auto;
    height:200px;
}
.lec_home_card-container0101{
    text-align: center;
    background-color: #3b4160;
    color: #fff;
    padding: 36px 50px 50px 50px;
    height: 169px;
}

.lec_home_card-container02{
    width: auto;
    height:500px;
}
.lec_home_card-container0201{
    height:470px;
    text-align: center;
    background-color: #3b4160;
    color: #fff;
    padding: 36px 50px 50px 50px;
    
} */

.lec_home_card01-text{
     margin-top: 20px;
     font-size: 40px;
}
.lec_home_card02-text{
    font-size: 20px;
    margin-top: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.lecturehome {
    display: flex;
    flex-direction: column;
    margin: 80px 10px 5px 10px;
    transition: margin-left 0.3s;
}

.lec_home_card-container01,
.lec_home_card-container02,
.lec_home_card-container03 {
  background-color: #3b4160;
  margin: 20px 5px 0px 5px;
  padding: 5px 2.5px 5px 2.5px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.lec_home_card-container.with-sidebar {
    margin-left: 240px; 
}
  
.lec_home_card-container0101,
.lec_home_card-container0201,
.lec_home_card-container0301 {
  background-color: #3b4160;
  margin: 10px 7px 10px 7px;
  padding: 5px 2.5px 5px 2.5px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  color: #e7e1e1;
  height: auto;
}

.lec_home_card-container0301-header {
  font-size: 24px;
  font-weight: bold;
  color: #9e853c;
}

.lec_home_card-container0201 span {
  text-decoration: underline;
  font-size: 25px;
}

.lec_home_card-container0101:hover,
.lec_home_card-container0201:hover,
.lec_home_card-container0301:hover {
  transform: scale(1.02); 
}

.lec_home_card-container0201 {
  /* height: 186px; */
  font-size: 20px;
}

.lec_home_card-container0101 {
  font-size: 30px;
  color: #c3c3df;
  text-decoration: underline;
}